<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

		<div class="container">

  		{% include header.html %}

                {{ content }}
                        <div class="pencil">
                        <span class="pencilTip"></span>
                        <span class="pencilSideLeft"></span>
                        <span class="pencilSideCentre"></span>
                        <span class="pencilSideRight"></span>
                </div>

  	</div>

    {% include footer.html %}

  </body>
</html>
